@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:regular,500&display=swap);
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Space Grotesk";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Space Grotesk";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  color: #21243D;
  touch-action: none;
  overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}
.wrapper > main {
  flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/
[class*=__container] {
  margin: 0 auto;
  max-width: 55.375rem;
}

@media (max-width: 55.375em) {
  [class*=__container] {
    max-width: 60.625rem;
  }
}
@media (max-width: 61.99875em) {
  [class*=__container] {
    max-width: 46.875rem;
  }
}
@media (max-width: 47.99875em) {
  [class*=__container] {
    max-width: none;
    padding: 0 0.9375rem;
  }
}
[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
  object-fit: contain;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  background: #FFFFFF;
  color: #000000;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/
[class*=__container] {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1240px;
}
@media (max-width: 1240px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
    padding: 0 15px;
  }
}

.header {
  font-size: 20px;
  position: relative;
}
.header__body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
.header__logo {
  display: flex;
  align-items: center;
  padding-right: 20px;
}
.header__menu {
  display: flex;
  max-width: 70%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.header__list li {
  padding: 10px 20px;
  text-align: center;
}
.header__bttn {
  align-items: center;
  text-align: center;
}
.header__bttn a {
  display: block;
  padding: 20px 35px;
  border-radius: 14px;
  border: 1px solid var(--Dark, #191A23);
}

.menu__icon {
  position: relative;
  display: none;
  width: 24px;
  text-align: center;
  height: 10px;
  margin: 10px;
  margin-left: 35px;
  cursor: pointer;
}
.menu__icon span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #000;
  border-radius: 1.5px;
  transition: transform ease 0.2s;
}
.menu__icon::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #000;
  border-radius: 3px;
  transition: transform ease 0.2s;
}
.menu__icon.menu-open span {
  top: 50%;
  transform: rotate(-45deg);
}
.menu__icon.menu-open::after {
  top: 50%;
  bottom: auto;
  transform: rotate(45deg);
}
.menu-mobile {
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #191A23;
}
.menu-mobile ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 30px;
}
.menu-mobile__item {
  display: inline-block;
  color: #F3F3F3;
}
.menu-mobile__bttn a {
  display: inline-block;
  color: #F3F3F3;
  border-radius: 14px;
  border: 1px solid var(--Dark, #F3F3F3);
  padding: 10px 15px;
  font-size: 18px;
}

body.lock {
  overflow: hidden;
  touch-action: none;
}

.running-line {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
.running-line__track {
  overflow: hidden;
  display: flex;
}
.running-line__marquee-items {
  display: flex;
  animation: marquee 15s linear infinite;
}
.running-line__marquee-item {
  padding-right: 100px;
  filter: grayscale(100%);
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
section {
  padding-top: 80px;
  padding-bottom: 60px;
}

.section-header {
  display: flex;
  gap: 40px;
  align-items: center;
}
.section__title {
  background: none;
}
.section__title h2 {
  display: inline-block;
  font-size: 40px;
  font-weight: 500;
  background-color: #B9FF66;
  line-height: normal;
  height: auto;
  border-radius: 4px;
  padding: 0 5px;
  text-wrap: nowrap;
}
.section__subtitle {
  max-width: 580px;
}

.bttn {
  display: inline-block;
  width: auto;
  text-align: center;
  padding: 20px 35px;
  border-radius: 14px;
  background-color: #191A23;
  color: #FFFFFF;
  font-size: 20px;
  transition: transform 0.4s ease;
  cursor: pointer;
}
.bttn:hover {
  transform: scale(1.05);
}
.bttn:active {
  transform: scale(0.98);
}

.swiper {
  width: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  flex-shrink: 0;
}

.swiper-pagination {
  bottom: 60px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 64px;
  left: 0;
  width: 100%;
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background: url("../img/swiper/wh-star.svg") no-repeat center;
  opacity: 1;
  background-size: cover;
  border-radius: 0px;
}

.swiper-pagination-bullet-active {
  width: 14px;
  height: 14px;
  background: url("../img/swiper/gr-star.svg") no-repeat center;
  opacity: 1;
  background-size: cover;
  border-radius: 0px;
}

.swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: auto;
  bottom: 50px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: 25%;
  right: auto;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: 25%;
  left: auto;
}

.swiper-button-prev::after {
  content: "";
  background: url("../img/swiper/ArrowLeft.svg") no-repeat center;
  background-size: cover;
  width: 24px;
  height: 24px;
}

.swiper-button-next::after {
  content: "";
  background: url("../img/swiper/ArrowRight.svg") no-repeat center;
  background-size: cover;
  width: 24px;
  height: 24px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  width: 100%;
  height: auto;
  background-color: #F3F3F3;
  z-index: 1000;
  border-radius: 45px;
  padding: 70px 50px 50px;
  border: 4px solid #292A32;
  display: none;
}
.popup__title {
  font-size: 35px;
  font-weight: 500;
  text-align: center;
}
.popup__bttn {
  display: block;
  max-width: 100%;
  width: 100%;
  margin-top: 40px;
}
.popup-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #292A32;
  opacity: 0.3;
  z-index: 1000;
  display: none;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 9px solid #191A23;
  border-right-color: #B9FF66;
  animation: l2 1s infinite linear;
}
.loader__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  display: none;
}

@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}
.hero__container {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
}
.hero-body {
  max-width: 500px;
  width: 100%;
}
.hero-body__title {
  font-size: 60px;
  font-weight: 500;
}
.hero-body__text {
  font-size: 20px;
  line-height: 140%;
  padding-top: 30px;
}
.hero-body__bttn {
  margin-top: 30px;
  margin-bottom: 15px;
}
.hero__picture {
  max-width: 600px;
  width: 100%;
}
.hero__picture img {
  max-width: 100%;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__picture-mobile {
  padding-top: 40px;
  display: none;
  width: 100%;
  max-width: 100%;
}
.hero__picture-mobile img {
  max-width: 100%;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.services__items {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
  gap: 40px;
  margin-top: 80px;
  align-items: center;
  justify-items: center;
}
.services-item {
  max-width: 600px;
  width: 100%;
  padding: 50px;
  border-radius: 45px;
  border: 1px solid #191A23;
  box-shadow: 0px 5px 0px 0px #191A23;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  max-height: 300px;
  height: 100%;
}
.services-item__title {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  height: auto;
}
.services-item__title span {
  display: inline;
  font-size: 30px;
  font-weight: 500;
  line-height: normal;
  height: auto;
  border-radius: 4px;
  padding: 0 5px;
  width: -moz-fit-content;
  width: fit-content;
  text-wrap: nowrap;
}
.services-item__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}
.services-item__bttn {
  padding: 10px 20px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  height: auto;
  transition: all 0.3s ease;
  border-radius: 30px;
}
.services-item__bttn-img {
  display: flex;
}
.services-item__bttn-img svg {
  align-self: center;
  justify-content: center;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  transform-origin: 50% 50%;
}
.services-item__bttn-text {
  font-size: 20px;
  line-height: 140%;
}
.services-item__img {
  max-width: 50%;
  width: 100%;
  justify-self: center;
  align-self: center;
}
.services-item__img img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@keyframes rotateOnce {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.arrow-icon .circle {
  transition: all 0.3s ease;
}

.grey {
  background-color: #F3F3F3;
}
.grey .services-item__title span {
  background-color: #B9FF66;
}
.grey .services-item__bttn:hover {
  background-color: #191A23;
}
.grey .services-item__bttn:hover .services-item__bttn-img svg {
  animation: rotateOnce 0.7s ease-in-out forwards;
}
.grey .services-item__bttn:hover .services-item__bttn-text {
  color: #F3F3F3;
}
.grey .services-item__bttn:hover .arrow-icon .circle {
  fill: #B9FF66;
}
.grey .services-item__bttn:hover .arrow-icon .arrow {
  fill: #191A23;
}

.black {
  background-color: #191A23;
}
.black .services-item__title span {
  background-color: #FFFFFF;
}
.black .services-item__bttn-text {
  color: #FFFFFF;
}
.black .services-item__bttn:hover {
  background-color: #B9FF66;
}
.black .services-item__bttn:hover .services-item__bttn-img svg {
  animation: rotateOnce 0.7s ease-in-out forwards;
}
.black .services-item__bttn:hover .services-item__bttn-text {
  color: #191A23;
}
.black .services-item__bttn:hover .arrow-icon .circle {
  fill: #191A23;
}
.black .services-item__bttn:hover .arrow-icon .arrow {
  fill: #B9FF66;
}

.green {
  background-color: #B9FF66;
}
.green .services-item__title span {
  background-color: #FFFFFF;
}
.green .services-item__bttn:hover {
  background-color: #191A23;
}
.green .services-item__bttn:hover .services-item__bttn-img svg {
  animation: rotateOnce 0.7s ease-in-out forwards;
}
.green .services-item__bttn:hover .services-item__bttn-text {
  color: #F3F3F3;
}
.green .services-item__bttn:hover .arrow-icon .circle {
  fill: #B9FF66;
}
.green .services-item__bttn:hover .arrow-icon .arrow {
  fill: #191A23;
}

.proposal__content {
  background-color: #F3F3F3;
  position: relative;
  padding: 60px;
  border-radius: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.proposal__body {
  display: flex;
  flex-direction: column;
  max-width: 470px;
  width: 100%;
  gap: 30px;
  align-items: start;
}
.proposal__title {
  font-size: 30px;
  font-weight: 500;
}
.proposal__img {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  max-width: 359px;
}
.proposal__img img {
  max-width: 100%;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.cases__items {
  display: flex;
  padding: 60px 45px;
  background-color: #191A23;
  margin-top: 80px;
  border-radius: 45px;
}
.cases-item {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 415px;
  width: 100%;
  padding: 0 32px 15px 32px;
  gap: 20px;
  justify-content: space-between;
}
.cases-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #fff;
}
.cases-item__text {
  color: #fff;
}
.cases-item__bttn {
  position: relative;
  display: inline-flex;
  gap: 10px;
  color: #B9FF66;
  align-self: flex-start;
}
.cases-item__bttn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 0;
  height: 2px;
  background-color: #B9FF66;
  transition: width 0.15s ease-in-out;
}
.cases-item__bttn:hover::after {
  width: 100%;
}
.cases-item__bttn:hover .cases-item__bttn-img {
  animation: bounce-fall 0.5s ease;
}
.cases__items-mobile {
  margin-top: 80px;
  height: auto;
  display: none;
}
.cases-item-mobile {
  padding: 30px;
  background-color: #191A23;
  border-radius: 45px;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 415px;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
  height: 100%;
}

.cases-item__bttn-img {
  display: inline-block;
  transition: transform 0.3s ease;
}
.cases-item__bttn-img svg {
  display: block;
}

@keyframes bounce-fall {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-6px);
  }
  60% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}
.project-stages-header__subtitle {
  max-width: 300px;
}

.accordeon {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.accordeon__item {
  padding: 35px;
  background-color: #F3F3F3;
  border-radius: 45px;
  border: 1px solid #191A23;
  background: #F3F3F3;
  box-shadow: 0px 5px 0px 0px #191A23;
}
.accordeon-title {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}
.accordeon-title__num {
  display: inline-block;
  font-size: 50px;
  font-weight: 500;
  flex-shrink: 0;
}
.accordeon-title__text {
  display: inline;
  font-size: 28px;
  font-weight: 500;
  word-break: break-word;
}
.accordeon-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.accordeon-head__bttn {
  width: 58px;
  height: 58px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.accordeon-head__bttn img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.3s ease;
}
.accordeon__body {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: 0px;
  margin-top: 0px;
}
.accordeon__body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #191A23;
  transition: all 0.3s ease;
}
.accordeon-open {
  background-color: #B9FF66;
}
.accordeon-open .accordeon__body {
  max-height: 500px;
  height: auto;
  padding-top: 30px;
  margin-top: 30px;
  overflow: visible;
}
.accordeon-open .accordeon__body:before {
  width: 100%;
}
.accordeon-open .accordeon-head__bttn-open {
  transform: rotate(-45deg);
}

.cards {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  gap: 30px;
  justify-content: center;
  align-items: stretch;
}
.cards__show-more {
  display: flex;
  justify-self: end;
  margin-top: 40px;
}

.card {
  width: 100%;
  border-radius: 45px;
  border: 1px solid #191A23;
  box-shadow: 0px 5px 0px 0px #191A23;
  padding: 35px 40px;
  margin: 0 auto;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;
  transform: scale(1);
}
.card__hidden {
  opacity: 0;
  transform: scale(0.95);
  pointer-events: none;
}
.card__visible {
  opacity: 1;
  transform: scale(1);
}
.card__header {
  display: flex;
  gap: 10px;
}
.card__img {
  max-width: 100px;
  width: 100%;
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}
.card__img::after {
  content: "";
  position: absolute;
  bottom: -8px;
  right: -8px;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: url("../img/team/shadow.svg") no-repeat center;
  background-size: contain;
}
.card__img img {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  z-index: 1;
}
.card__linkedin {
  display: inline-flex;
  max-width: 35px;
  width: 100%;
  max-height: 35px;
  height: 100%;
  margin-left: auto;
}
.card__linkedin img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__profile {
  display: flex;
  gap: 10px;
  width: 100%;
  flex-wrap: wrap;
}
.card__person-info {
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: 190px;
  width: 100%;
  gap: 5px;
}
.card__name {
  font-size: 20px;
  font-weight: 500;
}
.card__description {
  padding-top: 28px;
  margin-top: 28px;
  position: relative;
}
.card__description:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #191A23;
  transition: all 0.3s ease;
}

.testimonials__items {
  background-color: #191A23;
  padding-top: 84px;
  padding-bottom: 150px;
  margin-top: 80px;
  border-radius: 45px;
}
.testimonials-item {
  padding: 10px;
  max-width: 650px;
}
.testimonials-item__body {
  position: relative;
  border: 2px solid #B9FF66;
  border-radius: 48px;
  padding: 48px 52px;
  color: #fff;
  background-color: #191A23;
  width: 100%;
  margin-bottom: 20px;
}
.testimonials-item__body::after {
  content: "";
  position: absolute;
  bottom: -14.5px;
  left: 50px;
  width: 25px;
  height: 25px;
  background-color: #191A23;
  border-left: 2px solid #B9FF66;
  border-bottom: 2px solid #B9FF66;
  transform: rotate(-45deg);
  background-clip: padding-box;
}
.testimonials-item__person-info {
  padding-top: 20px;
  padding-left: 58px;
}
.testimonials-item__name {
  font-size: 20px;
  font-weight: 500;
  color: #B9FF66;
}
.testimonials-item__position {
  color: #fff;
}

.contact-form {
  background-color: #F3F3F3;
  border-radius: 45px;
  padding: 60px 100px 80px;
  margin-top: 80px;
  position: relative;
}
.contact-form__body {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 550px;
  width: 100%;
  z-index: 1;
}
.contact-form__radio {
  display: flex;
  cursor: pointer;
  position: relative;
  gap: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-bottom: 20px;
}
.contact-form__radio-text {
  align-items: center;
  justify-content: center;
  display: flex;
}
.contact-form__input {
  margin-top: 25px;
}
.contact-form__bttn {
  margin-top: 40px;
}
.contact-form__message-input {
  min-height: 190px;
  resize: none;
}
.contact-form__img {
  position: absolute;
  max-width: 370px;
  width: 100%;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.contact-text {
  margin-bottom: 5px;
}
.contact-input {
  border-radius: 14px;
  border: 1px solid #000;
  padding: 18px 30px;
  width: 100%;
  height: auto;
}

input[type=radio] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 28px;
  height: 28px;
  border: 1px solid #000;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  background: #fff;
  cursor: pointer;
}
input[type=radio]:checked {
  border: 1px solid #000;
}
input[type=radio]:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 14px;
  height: 14px;
  background: #B9FF66;
  border-radius: 50%;
}

.wrong_input {
  border: 2px solid #191A23;
  background-color: #ffcdcd;
}

.wrong__text {
  color: #ff3d3d;
  margin-top: 10px;
  display: none;
}

.footer__body {
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  background-color: #191A23;
  padding: 55px 60px;
}
.footer-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.footer-menu__media {
  display: flex;
  gap: 10px;
}
.footer-menu__media-item {
  display: block;
  max-width: 30px;
  width: 100%;
}
.footer__logo {
  display: flex;
  align-items: center;
  padding-right: 20px;
  max-width: 180px;
  width: 100%;
  height: auto;
  margin-right: 20px;
}
.footer__logo img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer__list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  color: #fff;
  text-decoration: underline;
  max-width: 550px;
  width: 100%;
  margin-right: 20px;
}
.footer-contacts {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.footer-contacts__body {
  max-width: 350px;
  width: 100%;
  height: auto;
}
.footer-contacts__title {
  display: inline-block;
  font-size: 20px;
  background-color: #B9FF66;
  height: auto;
  border-radius: 4px;
  padding: 0 5px;
  text-wrap: nowrap;
}
.footer-contacts__list {
  margin-top: 27px;
}
.footer-contacts__list li {
  margin-top: 15px;
  font-size: 18px;
  color: #fff;
}
.footer-contacts__form {
  max-width: 650px;
  width: 100%;
  height: auto;
  background-color: #292A32;
  padding: 50px 40px;
  border-radius: 45px;
}
.footer-subscribe-form {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.footer-subscribe-input {
  display: block;
  max-width: 100%;
  width: 100%;
  border: 1px solid #fff;
  background-color: transparent;
  padding: 22px 35px;
  border-radius: 14px;
  color: #fff;
}
.footer-subscribe-input::-moz-placeholder {
  color: #fff;
}
.footer-subscribe-input::placeholder {
  color: #fff;
}
.footer-subscribe-bttn {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 20px 35px;
  border-radius: 14px;
  background-color: #B9FF66;
  color: #000;
  font-size: 20px;
  transition: transform 0.4s ease;
  cursor: pointer;
}
.footer-subscribe-bttn:hover {
  transform: scale(1.03);
}
.footer-subscribe-bttn:active {
  transform: scale(0.98);
}
.footer__rights {
  padding-top: 50px;
  border-top: 1px solid #fff;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.footer__rights p {
  color: #fff;
}
.footer__rights a {
  color: #fff;
  text-decoration: underline;
}

.footer-contacts__form .wrong__text {
  width: 100%;
  margin-top: 30px;
}

.footer-subscribe-input.wrong_input {
  border-color: #ff3d3d;
}

.footer-subscribe-input.wrong_input:focus {
  border: 2px solid #ff3d3d;
  outline: none;
}